:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  background-color: var(--light);
}

h1 {
  font-size: 2.25rem;
}

.card {
  padding: 0.625rem;
  margin: 0.625rem;
}

img {
  width: 15.625rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
