:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  background-color: var(--light);
  font-family: 'Indie Flower';
}

h1 {
  font-size: 2.25rem;
}

.card {
  padding: 0.625rem;
  margin: 0.625rem;
}

img {
  width: 15.625rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav__container {
    background: var(--teal);
}

.ul {
	padding: 0;
	list-style-type: none;
}


.links {
	color: var(--light);
	font-family: 'Concert One';
	font-size: 1.5em;
    font-weight: bolder;
	text-decoration: none;
}

.links:hover {
	color: var(--coral);
}

.nav__hamburger {
    display: none;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  body {
    font-size: 1.5rem;
  }
  .card {
    width: 30%;
  }

  .nav__container {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
	justify-content: space-between;
	border-radius: 5px;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 3.75rem;
  }
  body {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .page-text {
    display: none;
  }
  .nav__hamburger {
    color: var(--light);
    background-color:var(--teal);
    width: 100%;
    float: left;
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--light);
    background-color: var(--dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--dark);
    background-color: var(--light);
  }
}
